<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard de Hardware</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>Dashboard de Hardware</h1>
    </header>

    <main class="home-container">
        <div class="home-card">
            <h2>Escolha um componente</h2>
            <div class="list-group">
                <a href="/gpu" class="list-group-item neon-button">Dashboard de GPUs</a>
                <a href="/cpu" class="list-group-item neon-button">Dashboard de CPUs</a>
                <a href="/motherboard" class="list-group-item neon-button">Dashboard de Motherboards</a>
            </div>
        </div>
    </main>

    <a href="javascript:history.back()" class="button-back">Voltar</a>
</body>
</html>
